.min-height-50 {
    min-height: 100%;
}

.center-align{
    text-align: center;
}

.table-width {
    width:45%;
}

.table-margin {
    margin-right:1rem;
    margin-left:1rem;
}

.clickable {
    cursor: pointer;
}

.margin-12 {
    margin: .75rem;
}