<nb-card class="min-height-50">
	<nb-card-header>
		<div class="row">
			<div class="col-sm-6">Marks Card</div>
		</div>
	</nb-card-header>

	<nb-card-body>
		<form novalidate name="form" #marksCard="ngForm" autocomplete="off">
			<fieldset class="form-group">
				<div class="form-row">
					<div class="form-group col-md-2">
						<label>Class</label>
						<select [ngModel]="model.selectedClass" class="form-control" (ngModelChange)="onChangeClass($event)" #class="ngModel" name="class">
							<option [ngValue]="null" [disabled]="true">--Select Class--</option>
							<option [ngValue]="class" *ngFor="let class of classes">{{class.className}}</option>
						</select>
					</div>
				</div>
				<div *ngIf="students && model.selectedClass">
					<div class="form-row">
						<div class="alert alert-danger" *ngIf="students.length === 0">You have 0 students in this class...</div>
						<table class="table table-bordered table-striped" *ngIf="students && students.length > 0">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Student RollNumber</th>
									<th>Student Name</th>
									<th class="width-200">Marks Card</th>
								</tr>
							</thead>
							<tbody>
									<tr *ngFor="let student of students; index as i">
											<td>{{i+1}}</td>
											<td>{{student.studentRollNo}}</td>
											<td>{{student.studentName}}</td>
									<td style="min-width: 600px;">
										<div class="row">
											<span *ngFor="let t of terms; index as i">
													&nbsp;&nbsp;<button type="button" [ngClass]="{'btn-outline-primary':i%3 === 0, 'btn-outline-warning': i%3 === 1, 'btn-outline-success': i%3 === 2}"  class="btn btn-lg center" (click)="open(content,t.termID,student)">{{t.termName}}</button>&nbsp;&nbsp;
											</span>
											<!-- <span *ngFor="let t of terms; index as i">
													&nbsp;&nbsp;<button type="button" [ngClass]="{'btn-outline-primary':i%3 === 0, 'btn-outline-warning': i%3 === 1, 'btn-outline-success': i%3 === 2}"  class="btn btn-lg center" (click)="getAllSubjectDivision(student.studentID, t.termID)">{{t.termName}}</button>&nbsp;&nbsp;
											</span> -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
		</form>
	</nb-card-body>
</nb-card>
<ng-template #content let-c="close" let-d="dismiss">
	<div  style="border:2px solid #f0ad1a; border-radius: 10px;">
    <div class="modal-header" style="background: #f0ad1a;">
        <h4 class="modal-title modalHeaderColor">Marks Card</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     <div class="modal-body">
     	<div class="form-row">
     		<div class="form-group col-md-2">
     			<img  alt="..." class="media-object photo-profile" style="border-radius: 5px;" height="80" src="{{registeredDetails.schoolLogo}}" width="80">
     		</div>
     		<div class="form-group col-md-8" style="text-align: center;">
     			 <h4 class="modal-title modalHeaderColor" style="color: #3dcc6d;">{{registeredDetails.schoolName}}</h4>
        		 <span class="modal-title">{{registeredDetails.schoolAddress.address}}, {{registeredDetails.schoolAddress.city}}, {{registeredDetails.schoolAddress.district}}, {{registeredDetails.schoolAddress.state}} - {{registeredDetails.schoolAddress.pincode}}</span>
     		</div>
     		<div class="form-group col-md-2">
     			<img  alt="..." class="media-object photo-profile" height="120" style="border-radius: 5px;" src="{{studentDetails.photo?studentDetails.photo:studentDetails.photo}}" width="100">
     		</div>
    	 </div>
   		<hr/>

   		<div class="form-row">
     		<div class="form-group col-md-3">
     			<h5>Student Name:</h5>
     		</div>
     		<div class="form-group col-md-3">
     			<h6>{{studentDetails.studentName}}</h6>
     		</div>
     		<div class="form-group col-md-3">
     			<h5>Student RollNo.:</h5>
     		</div>
     		<div class="form-group col-md-3">
     			<h6>{{studentDetails.studentRollNo}}</h6>
     		</div>
     		<div class="form-group col-md-3">
     			<h5>Class:</h5>
     		</div>
     		<div class="form-group col-md-3">
     			<h6>{{studentDetails.className}}</h6>
     		</div>
     		<div class="form-group col-md-3">
     			<h5>Parent Name:</h5>
     		</div>
     		<div class="form-group col-md-3">
     			<h6>{{studentDetails.parentIDs[0].parentName}}</h6>
     		</div>
    	 </div>
    	 <hr/>

     	 <h4 style="color:#3dcc6d;" *ngIf="marksReport && marksReport.termDetails && marksReport.termDetails[0].subjects">Subject Marks:</h4>
    	 <div class="form-row" *ngIf="marksReport && marksReport.termDetails && marksReport.termDetails[0].subjects">
			<div class="form-group col-md-4" *ngFor="let item of marksReport.termDetails[0].subjects">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
						<td colspan="2" style="background:#f0ad1a;color: #fff;font-size: 20px;">{{item.subjectName}}</td>
						</tr>
					</thead>
					<tbody *ngIf="item.subjectDivisions">
						<tr *ngFor="let sd of item.subjectDivisions">
							<th>{{sd.subjectDivisionName}}</th>
							<td>{{sd.obtainedMarks}}</td>
						</tr>
						<tr>
							<th>Total</th>
							<td><span>{{getTotal(item.subjectDivisions)}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
    	 </div> 
    	 <h5 style="color:#3dcc6d;text-align: center;" *ngIf="marksReport && marksReport.termDetails && marksReport.termDetails[0].subjects">Total Marks: {{getFinalTotal(marksReport.termDetails[0].subjects)}}</h5>   	 
    	 <hr/>
    	 <div class="form-row" *ngIf="marksReport && marksReport.termDetails && marksReport.termDetails[0].remarks">
     		<div class="form-group col-sm-12">
     			<h4 style="color:#3dcc6d;">Remarks:</h4>
     			<h6 style="color:black;">{{marksReport.termDetails[0].remarks}}</h6>
     		</div>
    	 </div>
	</div>
    <div class="modal-footer" style="background: #f0ad1a;">
      
    </div>
   </div>
</ng-template>