.min-height-50 {
    min-height: 100%;
}

    .quarterly {
        border-color: #907fff !important;
    } 
    .halfYearly{
        border-color: #6cdd8c !important;
    } 
    .final {
        border-color: #f0ad1a !important;
    } 
    .overAll{
        border-color: #907fff !important;
    }
