<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title modalHeaderColor">Add Institute</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- [(ngModel)]="model.instituteID" -->
    <div class="modal-body">
        <form novalidate name="form" #InstituteForm="ngForm" autocomplete="off">
            <fieldset class="form-group">
                <div class="form-row container col-sm-8">
                </div>
                <div class="form-row">
                    <h5 class="underline">Institute Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-row">
                            <label for="instituteLogo">Institute Logo</label>
                            <label for="file-upload" [ngClass]="{greenColor: model.url || model.instituteLogo}" class="custom-file-upload margin-photo">
                                <i class="fa fa-cloud-upload"></i> {{model.url || model.instituteLogo ? 'Update Logo' : 'Upload Logo'}}
                            </label>
                        </div>
                        <div>
                            <input id="file-upload" [disabled]="uploadingImageLoading" accept="image/x-png,image/jpg,image/jpeg" type='file' (change)="readUrl($event)">
                            <div class="row logoHeightWidth" *ngIf="(model.url || model.instituteLogo) && !uploadingImageLoading">
                                <img class="photoImg" [src]="model.url || model.instituteLogo">
                                <span class="fa-stack fa-lg clickable remove-photo-icon" (click)="model.url = ''; model.instituteLogo = ''">
                                    <i class="fa fa-circle fa-stack-2x icon-background" title="Remove photo"></i>
                                    <i class="fa fa-times fa-stack-1x"></i>
                                </span>
                            </div>
                            <i *ngIf="uploadingImageLoading" class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="instituteName">Institute Name</label>
                            <input type="text" class="form-control" name="instituteName" [(ngModel)]="model.instituteName" #instituteName="ngModel" pattern="^[a-zA-Z].*"
                                required placeholder="Institute Name">
                            <div *ngIf="instituteName.errors && (instituteName.dirty || instituteName.touched)" class="alert alert-danger">
                                <div [hidden]="!instituteName.errors.required">
                                    Institute name is required !
                                </div>
                                <div [hidden]="!instituteName.errors.pattern">First letter should be albhabetic !</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="instituteCode">Institute Code</label>
                            <input type="text" class="form-control" name="instituteCode" [(ngModel)]="model.instituteCode" #instituteCode="ngModel" placeholder="Institute Code"
                                required>
                            <div *ngIf="instituteCode.errors && (instituteCode.dirty || instituteCode.touched)" class="alert alert-danger">
                                <div [hidden]="!instituteCode.errors.required">
                                    Institute code is required !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteAddress">Address</label>
                        <textarea type="text" class="form-control addressHeight" name="instituteAddress" [(ngModel)]="model.instituteAddress" #instituteAddress="ngModel"
                            placeholder="Institute Address" required></textarea>
                        <div *ngIf="instituteAddress.errors && (instituteAddress.dirty || instituteAddress.touched)" class="alert alert-danger">
                            <div [hidden]="!instituteAddress.errors.required">
                                Institute address is required !
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="institutePinCode">Pincode</label>
                            <input (keypress)="onlyNumberKey($event)" class="form-control" name="institutePinCode" [(ngModel)]="model.institutePinCode"
                                #institutePinCode="ngModel" placeholder="Pincode" minlength="6" maxlength="6" required>
                            <div *ngIf="institutePinCode.errors && (institutePinCode.dirty || institutePinCode.touched)" class="alert alert-danger">
                                <div [hidden]="!institutePinCode.errors.required">
                                    Institute pin code is required !
                                </div>
                                <div [hidden]="!institutePinCode.errors.minlength">Pincode should be 6 digit</div>
                                <div [hidden]="!institutePinCode.errors.pattern">Pincode should be only numbers</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-group" for="instituteCity">City</label>
                            <input type="text" (keypress)="onlyAlphabetKey($event)" class="form-group form-control" [(ngModel)]="model.instituteCity"
                                #instituteCity="ngModel" name="instituteCity" placeholder="City" maxlength="45" required>
                            <div *ngIf="instituteCity.errors && (instituteCity.dirty || instituteCity.touched)" class="alert alert-danger">
                                <div [hidden]="!instituteCity.errors.required">
                                    Institute city is required !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="instituteState">State</label>
                        <input list="states" type="text" (keypress)="onlyAlphabetKey($event)" class="form-control" [(ngModel)]="model.instituteState"
                            #instituteState="ngModel" name="instituteState" placeholder="State" required>

                        <datalist id="states">
                            <option *ngFor="let state of states" value="{{state.stateName}}">{{state.stateName}}</option>
                        </datalist>

                        <div *ngIf="instituteState.errors && (instituteState.dirty || instituteState.touched)" class="alert alert-danger">
                            <div [hidden]="!instituteState.errors.required">
                                Institute state is required !
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="instituteDistrict">District</label>
                        <input [disabled]="!model.instituteState" list="districts" type="text" (keypress)="onlyAlphabetKey($event)" class="form-control"
                            [(ngModel)]="model.instituteDistrict" #instituteDistrict="ngModel" name="instituteDistrict" placeholder="District"
                            required>

                        <datalist id="districts">
                            <option *ngFor="let district of states | districtFilter : model.instituteState : states;" value="{{district}}">{{district}}</option>
                        </datalist>

                        <div *ngIf="instituteDistrict.errors && (instituteDistrict.dirty || instituteDistrict.touched)" class="alert alert-danger">
                            <div [hidden]="!instituteDistrict.errors.required">
                                Institute district is required !
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <h5 class="underline">Admin Details</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userName" #userName="ngModel" name="userName" placeholder="Name"
                            pattern="^[a-zA-Z].*" required>
                        <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger">
                            <div [hidden]="!userName.errors.required">
                                Institute admin name is required !
                            </div>
                            <div [hidden]="!userName.errors.pattern">First letter should be albhabetic !</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userID" #userID="ngModel" name="userID" placeholder="Username"
                            required>
                        <div *ngIf="userID.errors && (userID.dirty || userID.touched)" class="alert alert-danger">
                            <div [hidden]="!userID.errors.required">
                                Institute admin username is required !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" autocomplete="new-email" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email"
                            placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                            <div [hidden]="!email.errors.required">
                                Institute admin email is required !
                            </div>
                            <div [hidden]="!email.errors.pattern">
                                Invalid email!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Mobile No.</label>
                        <input (keypress)="onlyNumberKey($event)" autocomplete="new-password" class="form-control" [(ngModel)]="model.mobile" #mobile="ngModel"
                            name="mobile" placeholder="Mobile Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
                        <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                            <div [hidden]="!mobile.errors.required">
                                Institute admin mobile number is required !
                            </div>
                            <div [hidden]="!mobile.errors.minlength">Mobile should be 10 digit</div>
                            <div [hidden]="!mobile.errors.pattern">Mobile number should be only numbers</div>
                        </div>
                    </div>
                </div>                
                <hr>
                <div class="form-row">
                    <h5 class="underline">Timezone</h5>
                </div>
                <hr>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Choose your Timezone</label>
                    <select [(ngModel)]="model.timeZone" class="form-control" name="type">
                      <option [ngValue]="undefined" disabled selected>--Select--</option>
                        <option [ngValue]="time" *ngFor="let time of timeZones">{{time.timeZone}} ({{time.symbol}}{{time.zoneTime}})</option>
                    </select>
                  </div>
                </div>
                <hr>
                <div class="form-row">
                    <h5 class="underline">Features</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-4" *ngFor="let feature of allFeatures; index as i">
                            <input type="checkbox" name="{{feature.featureID}}" value="{{feature.selected}}" [(ngModel)]="feature.selected" /> {{feature.featureName}}
                            <!-- <span *ngIf="i !== allFeatures.length - 1">&nbsp;|&nbsp;</span> -->
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control" [(ngModel)]="model.userID" #userID="ngModel" name="userID" placeholder="Username"
                            required>
                        <div *ngIf="userID.errors && (userID.dirty || userID.touched)" class="alert alert-danger">
                            <div [hidden]="!userID.errors.required">
                                Institute admin username is required !
                            </div>
                        </div>
                    </div> -->
                </div>               
                <hr>
                <div class="form-row">
                    <h5 class="underline">Subscriptions</h5>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>SMS</label>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="radio" name="sms" value=true [(ngModel)]="model.sms" /> Yes
                        <input type="radio" name="sms" value=false [(ngModel)]="model.sms" /> No
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-danger" *ngIf="message">
            <strong>Error! </strong>{{message}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="addInstitute(content)" [disabled]="!InstituteForm.form.valid">Submit</button>
        <button type="button" class="btn btn-lg btn-outline-primary center" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<button class="btn btn-md btn-outline-primary" (click)="open(content)">
    <i class="fa fa-plus"></i>&nbsp;Institute</button>